.container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, auto);
}
@media (max-width: 768px){
    .container {
    grid-template-columns: repeat(2, auto);

    }
}