@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Nunito:ital,wght@1,200&family=Quicksand&display=swap');
h1 {
    font-family: 'Kanit';
    font-size: 4.5rem;
    font-weight: bold;
}
h2 {
    font-family: 'Kanit';
    font-size: 25px;
    font-weight: bold;
}
.products {
    margin-top: 1.5rem;
    height: 6rem;
}
.products2 {
    text-decoration: none;
    color:white;
    background-color: black;
    font-family: 'Kanit';
    font-size: 2rem;
}
@media screen and (max-width: 768px){
    h1 {
        font-family: 'Kanit';
        font-size: 2.5rem;
        font-weight: bold;
    }
    h2 {
        font-family: 'Kanit';
        font-size: 1.5rem;
        font-weight: bold;
    }
}